.cv-pdf .cv-wrap {
	border-left: 0;
}

.navbar.navbar-fixed-top
{
	display: none;
}

.container section.section
{
	display: none;
}

hgroup.cv-user
{
	float:none;
	text-align: center;
}

.cv-details img.pull-right.logo{
	display: none;
}

i.icon-phone{
	display: none;
}

i.icon-envelope-alt
{
	display: none;
}

.cv-pdf .cv-details hgroup {
	padding: 0px;
}

.cv-pdf .cv-details h2 {
	font-size: 15px;
}
.cv-pdf .cv-details h3 {
	font-size: 15px;
}

.cv-pdf .cv-details .cv-infocontacto p {
 text-align: center;
 font-weight: bold;
 margin-top: 0px;
}

.cv-infocontacto .span4
{
	display: none;
}

#footer
{
	display: none;
}

.describe-profile
{
	display: none;
}

.cv-pdf .cv-area .area-name {
	border-bottom: 2px solid #000000;
}

.cv-details
{	
	margin-bottom: 10px;
}

